# Web Scrapping Assignment 4

### Content
1. [Most Viewed YouTube Videos](#1)
2. [BCCI India's International Fixture](#2)
3. [Selenium Exception List](#3)
4. [State-wise GDP of India](#4)
5. [Trending GitHub Repository](#5)
6. [Top 100 songs on Billboard](#6)
7. [Top Data Scientist Recruiters](#7)
8. [Highest Selling Novel](#8)
9. [Most watched TV series](#9)
10. [Dataset Details in UCI ML Repository](#10)

In [1]:
import pandas as pd
import selenium
import time
import os.path

from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
import urllib

import warnings
warnings.filterwarnings('ignore')

#### 1. Most viewed YouTube Videos <a name = '1'></a>

In [3]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
table = driver.find_element_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]').get_attribute('outerHTML')

In [19]:
youTubeDf = pd.read_html(table)
youTubeDf = youTubeDf[0].copy()
youTubeDf = youTubeDf.iloc[:,0:5].copy()
youTubeDf.rename(columns = {'No.': 'Rank'}, inplace = True)
youTubeDf.set_index('Rank', drop = True, inplace = True)
youTubeDf

,Video name,Uploader,Views (billions),Upload date
Rank,,,,
1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.74,"June 17, 2016"
2.,"""Despacito""[24]",Luis Fonsi,7.39,"January 12, 2017"
3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.43,"October 8, 2016"
4.,"""Shape of You""[26]",Ed Sheeran,5.34,"January 30, 2017"
5.,"""See You Again""[27]",Wiz Khalifa,5.13,"April 6, 2015"
6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
7.,"""Uptown Funk""[31]",Mark Ronson,4.20,"November 19, 2014"
8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.14,"February 27, 2018"
9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.12,"May 2, 2018"
10.,"""Gangnam Style""[34]",Psy,4.08,"July 15, 2012"
11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.91,"March 6, 2014"
12.,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
13.,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
14.,"""Dame Tu Cosita""[39]",El Chombo,3.38,"April 5, 2018"
15.,"""Roar""[40]",Katy Perry,3.36,"September 5, 2013"
16.,"""Counting Stars""[41]",OneRepublic,3.31,"May 31, 2013"
17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.27,"October 7, 2014"
18.,"""Dark Horse""[43]",Katy Perry,3.08,"February 20, 2014"
19.,"""Faded""[44]",Alan Walker,3.08,"December 3, 2015"
20.,"""Wheels on the Bus""[45]",Cocomelon – Nursery Rhymes,3.07,"May 24, 2018"
21.,"""Shake It Off""[46]",Taylor Swift,3.06,"August 18, 2014"
22.,"""Lean On""[47]",Major Lazer,3.05,"March 22, 2015"
23.,"""Girls Like You""[48]",Maroon 5,3.04,"May 31, 2018"
24.,"""Bailando""[49]",Enrique Iglesias,3.04,"April 11, 2014"
25.,"""Let Her Go""[50]",Passenger,3.00,"July 25, 2012"
26.,"""Mi Gente""[51]",J Balvin,2.93,"June 29, 2017"
27.,"""Perfect""[52]",Ed Sheeran,2.86,"November 9, 2017"
28.,"""Hello""[53]",Adele,2.84,"October 22, 2015"
29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.84,"June 4, 2010"
30.,"""Axel F""[55]",Crazy Frog,2.83,"June 16, 2009"
"As of June 10, 2021","As of June 10, 2021","As of June 10, 2021","As of June 10, 2021","As of June 10, 2021"

In [25]:
driver.close()

#### 2. BCCI India's International Fixture <a name = '2'></a>

In [2]:
driver = webdriver.Chrome('./chromedriver.exe')
driver.get('https://www.bcci.tv/')

In [3]:
fixtureLink = driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a').get_attribute('href')

In [4]:
driver.get(fixtureLink)

In [9]:
matchInfo = driver.find_element_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a[1]')
matchInfo.text.split('\n')

['Friday',
 '18',
 'JUNE',
 '15:00 IST',
 'TEST',
 'ICC WORLD TEST CHAMPIONSHIP',
 'Final',
 'The Ageas Bowl, Southampton',
 'INDIA',
 'v',
 'NEW ZEALAND',
 'MATCH CENTRE',
 'LIVE']

In [14]:
def matchInfo(number):
    matchInfo = driver.find_element_by_xpath(f'/html/body/div[4]/div/div/div[2]/section/div/div/a[{number}]').text.split('\n')
    title = matchInfo[6]
    series = matchInfo[5]
    place = matchInfo[7]
    date = ' '.join(matchInfo[1:3])
    time = matchInfo[3]
    
    return title, series, place, date, time

In [20]:
title = list()
series = list()
place = list()
date = list()
time = list()

for i in range(1, 20):
    print(f'Getting Match {i} Info')
    try:
        t, s, p, d, ti = matchInfo(i)
        title.append(t)
        series.append(s)
        place.append(p)
        date.append(d)
        time.append(ti)
    except NoSuchElementException:
        break

Getting Match 1 Info
Getting Match 2 Info
Getting Match 3 Info
Getting Match 4 Info
Getting Match 5 Info
Getting Match 6 Info
Getting Match 7 Info
Getting Match 8 Info
Getting Match 9 Info
Getting Match 10 Info
Getting Match 11 Info
Getting Match 12 Info
Getting Match 13 Info

In [21]:
matchDf = pd.DataFrame()

matchDf['Title'] = title
matchDf['Series'] = series
matchDf['Date'] = date
matchDf['Time'] = time
matchDf['Place'] = place

matchDf

,Title,Series,Date,Time,Place
0,Final,ICC WORLD TEST CHAMPIONSHIP,18 JUNE,15:00 IST,"The Ageas Bowl, Southampton"
1,1st ODI,SRI LANKA V INDIA 2021,13 JULY,14:30 IST,"R Premadasa Stadium, Colombo"
2,2nd ODI,SRI LANKA V INDIA 2021,16 JULY,14:30 IST,"R Premadasa Stadium, Colombo"
3,3rd ODI,SRI LANKA V INDIA 2021,18 JULY,14:30 IST,"R Premadasa Stadium, Colombo"
4,1st T20I,SRI LANKA V INDIA 2021,21 JULY,19:00 IST,"R Premadasa Stadium, Colombo"
5,2nd T20I,SRI LANKA V INDIA 2021,23 JULY,19:00 IST,"R Premadasa Stadium, Colombo"
6,3rd T20I,SRI LANKA V INDIA 2021,25 JULY,19:00 IST,"R Premadasa Stadium, Colombo"
7,1st Test,ENGLAND V INDIA 2021,04 AUGUST,15:30 IST,"Trent Bridge, Nottingham"
8,2nd Test,ENGLAND V INDIA 2021,12 AUGUST,15:30 IST,"Lord's, London"
9,3rd Test,ENGLAND V INDIA 2021,25 AUGUST,15:30 IST,"Headingley, Leeds"
10,4th Test,ENGLAND V INDIA 2021,02 SEPTEMBER,15:30 IST,"The Oval, London"
11,5th Test,ENGLAND V INDIA 2021,10 SEPTEMBER,15:30 IST,"Old Trafford, Manchester"

In [22]:
driver.close()

#### 3. Selenium Exception List <a name = '3'></a>

In [26]:
driver = webdriver.Chrome('./chromedriver.exe')
driver.get('https://www.guru99.com/')

In [27]:
seleniumLink = driver.find_element_by_xpath('//*[@id="java_technologies"]/li[3]/a').get_attribute('href')
driver.get(seleniumLink)

In [50]:
exceptionLink = driver.find_element_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a').get_attribute('href')
driver.get(exceptionLink)

In [68]:
exceptionTable = driver.find_element_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table').get_attribute('outerHTML')

In [79]:
exceptionDf = pd.read_html(exceptionTable, header=0)[0]
exceptionDf.rename({'0': 'Exception Name', '1': 'Description'}, inplace = True)
exceptionDf

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [80]:
driver.close()

#### 4. State-wise GDP of India <a name = '4'></a>

In [81]:
driver = webdriver.Chrome('./chromedriver.exe')
driver.get('http://statisticstimes.com/')

In [82]:
link = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]').get_attribute('href')
driver.get(link)

In [83]:
link = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').get_attribute('href')
driver.get(link)

In [84]:
table = driver.find_element_by_xpath('//*[@id="table_id"]').get_attribute('outerHTML')

In [88]:
stateGdpDf = pd.read_html(table)[0]
stateGdpDf

    Rank                      State GSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
0    1.0                Maharashtra                               -   2632792
1    2.0                 Tamil Nadu                         1845853   1630208
2    3.0              Uttar Pradesh                         1687818   1584764
3    4.0                    Gujarat                               -   1502899
4    5.0                  Karnataka                         1631977   1493127
5    6.0                West Bengal                         1253832   1089898
6    7.0                  Rajasthan                         1020989    942586
7    8.0             Andhra Pradesh                          972782    862957
8    9.0                  Telangana                          969604    861031
9   10.0             Madhya Pradesh                          906672    809592
10  11.0                     Kerala                               -    781653
11  12.0                      Delhi                          856112    774870
12  13.0                    Haryana                          831610    734163
13  14.0                      Bihar                          611804    530363
14  15.0                     Punjab                          574760    526376
15  16.0                     Odisha                          521275    487805
16  17.0                      Assam                               -    315881
17  18.0               Chhattisgarh                          329180    304063
18  19.0                  Jharkhand                          328598    297204
19  20.0                Uttarakhand                               -    245895
20  21.0            Jammu & Kashmir                               -    155956
21  22.0           Himachal Pradesh                          165472    153845
22  23.0                        Goa                           80449     73170
23  24.0                    Tripura                           55984     49845
24  25.0                 Chandigarh                               -     42114
25  26.0                 Puducherry                           38253     34433
26  27.0                  Meghalaya                           36572     33481
27  28.0                     Sikkim                           32496     28723
28  29.0                    Manipur                           31790     27870
29  30.0                   Nagaland                               -     27283
30  31.0          Arunachal Pradesh                               -     24603
31  32.0                    Mizoram                           26503     22287
32  33.0  Andaman & Nicobar Islands                               -         -
33   NaN                      India                        20351013  18886957

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20     18-19
0   13.94%        399.921                               -   2039074
1    8.63%        247.629                         1312929   1215307
2    8.39%        240.726                         1166817   1123982
3    7.96%        228.290                               -   1186379
4    7.91%        226.806                         1156039   1091077
5    5.77%        165.556                          793223    739525
6    4.99%        143.179                          711627    677428
7    4.57%        131.083                          672018    621301
8    4.56%        130.791                          663258    612828
9    4.29%        122.977                          561801    522009
10   4.14%        118.733                               -    559412
11   4.10%        117.703                          634408    590569
12   3.89%        111.519                          572240    531085
13   2.81%         80.562                          414977    375651
14   2.79%         79.957                          418868    397669
15   2.58%         74.098                          396499    376877
16   1.67%         47.982                               -    234048
17   1.61%         46.187                          243477    231182
18   1.57%         45.145                          240036    224986
19   1.30%         37.351                               -    193273
20   0.83%         23.690                               -    112755
21   0.81%         23.369                          124403    117851
22   0.39%         11.115                           63408     57787
23   0.26%          7.571                           40583     36963
24   0.22%          6.397                               -     31192
25   0.18%          5.230                           25093     23013
26   0.18%          5.086                           26695     24682
27   0.15%          4.363                           20017     18722
28   0.15%          4.233                           20673     19300
29   0.14%          4.144                               -     17647
30   0.13%          3.737                               -     16676
31   0.12%          3.385                           18797     16478
32       -              -                               -         -
33     NaN           2869                        14569268  14003316

In [89]:
driver.close()

#### 5. Trending GitHub Repository <a name = '5'></a>

In [109]:
driver = webdriver.Chrome('./chromedriver.exe')
driver.get('https://github.com/')

In [110]:
trendingLink = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a').get_attribute('href')
driver.get(trendingLink)

In [131]:
trendingRepo = driver.find_elements_by_class_name('Box-row')
trendingRepo[0].text.split('\n')

['Star',
 'jwasham / coding-interview-university',
 'A complete computer science study plan to become a software engineer.',
 '179,021 48,501 Built by',
 '779 stars today']

In [132]:
trendingRepo[1].text.split('\n')

['Star',
 'bitcoin / bitcoin',
 'Bitcoin Core integration/staging tree',
 'C++ 54,784 29,107 Built by',
 '44 stars today']

In [133]:
trendingRepo[6].text.split('\n')

['Star',
 'JDHelloWorld / jd_scripts',
 'JavaScript 217 96 Built by',
 '30 stars today']

In [134]:
repoName = []
repoDesc = []
contributorCount = []
language = []

for i in range(0, len(trendingRepo)):
    if len(trendingRepo[i].text.split('\n')) == 5:
        repoName.append(trendingRepo[i].text.split('\n')[1])
        repoDesc.append(trendingRepo[i].text.split('\n')[2])
        if len(trendingRepo[i].text.split('\n')[3].split()) == 4:
            language.append('Language Info Not Available')
            contributorCount.append(trendingRepo[i].text.split('\n')[3].split()[1])
        elif len(trendingRepo[i].text.split('\n')[3].split()) == 5:
            language.append(trendingRepo[i].text.split('\n')[3].split()[0])
            contributorCount.append(trendingRepo[i].text.split('\n')[3].split()[2])
            
    elif len(trendingRepo[i].text.split('\n')) == 4:
        repoName.append(trendingRepo[i].text.split('\n')[1])
        repoDesc.append('N/A')
        language.append(trendingRepo[i].text.split('\n')[2].split()[0])
        contributorCount.append(trendingRepo[i].text.split('\n')[2].split()[2])

In [135]:
repoDf = pd.DataFrame()

repoDf['Title'] = repoName
repoDf['Description'] = repoDesc
repoDf['Contributors Count'] = contributorCount
repoDf['Language Used'] = language

repoDf

,Title,Description,Contributors Count,Language Used
0,jwasham / coding-interview-university,A complete computer science study plan to beco...,"48,501",Language Info Not Available
1,bitcoin / bitcoin,Bitcoin Core integration/staging tree,"29,107",C++
2,PaperMC / Paper,High performance Spigot fork that aims to fix ...,"1,013",Shell
3,jina-ai / jina,An easier way to build neural search on the cloud,485,Python
4,Genymobile / scrcpy,Display and control your Android device,"5,179",C
5,JDHelloWorld / jd_scripts,N/A,96,JavaScript
6,star261 / jd,N/A,61,JavaScript
7,maziarraissi / Applied-Deep-Learning,Applied Deep Learning,127,Language Info Not Available
8,github / docs,The open-source repo for docs.github.com,"18,861",JavaScript
9,SuMaiKaDe / bot,N/A,59,Python
10,ashishpatel26 / 500-AI-Machine-learning-Deep-l...,500 AI Machine learning Deep learning Computer...,"1,815",Language Info Not Available
11,iptv-org / iptv,Collection of publicly available IPTV channels...,"2,225",JavaScript
12,whittlem / pycryptobot,Python Crypto Bot,214,Python
13,GaloyMoney / galoy,N/A,13,TypeScript
14,biancangming / wtv,解决电脑、手机看电视直播的苦恼，收集各种直播源，电视直播网站,364,Python
15,adrianhajdin / portfolio_website,"Tutorial created by Enyel Sequeira, taught by ...",20,JavaScript
16,nushell / nushell,A new type of shell,591,Rust
17,MuriungiPatrick / Bootstrap-5-portfolio-template,Learning Bootstrap 5 with SASS,29,JavaScript
18,alpinejs / alpine,"A rugged, minimal framework for composing Java...",678,HTML
19,actions / virtual-environments,GitHub Actions virtual environments,"1,209",PowerShell
20,jklepatch / eattheblocks,"Source code for Eat The Blocks, a screencast f...","1,183",JavaScript
21,mit-pdos / xv6-riscv,Xv6 for RISC-V,391,C

In [136]:
driver.close()

#### 6. Top 100 songs on Billboard <a name ='6'></a>

In [2]:
driver = webdriver.Chrome('./chromedriver.exe')
driver.get('https://www.billboard.com/')

In [3]:
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[3]/a').click()

In [25]:
chartList = driver.find_element_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li[11]')
chartList.text.split('\n')

['10', 'New', 'Yonaguni', 'Bad Bunny', '-', '10', '1']

In [21]:
def songScrapper(number):
    songInfo = driver.find_element_by_xpath(f'//*[@id="charts"]/div/div[7]/div/ol/li[{number}]').text.split('\n')
    return songInfo[2], songInfo[3], songInfo[4], songInfo[5], songInfo[6]

In [28]:
song = list()
artist = list()
lastWeekRank = list()
peakRank = list()
weeksOnBoard = list()

for i in range(1,110):
    print(f'Getting song {i}')
    try:
        s,a, lwr, pr, woc = songScrapper(i)
        song.append(s)
        artist.append(a)
        lastWeekRank.append(lwr)
        peakRank.append(pr)
        weeksOnBoard.append(woc)
        print(f'Successfully Collected Song {i} Info')
    except IndexError:
        print('Advertisement. Skipping!')
        continue

Getting song 1
Successfully Collected Song 1 Info
Getting song 2
Successfully Collected Song 2 Info
Getting song 3
Successfully Collected Song 3 Info
Getting song 4
Successfully Collected Song 4 Info
Getting song 5
Successfully Collected Song 5 Info
Getting song 6
Successfully Collected Song 6 Info
Getting song 7
Successfully Collected Song 7 Info
Getting song 8
Successfully Collected Song 8 Info
Getting song 9
Successfully Collected Song 9 Info
Getting song 10
Successfully Collected Song 10 Info
Getting song 11
Advertisement. Skipping!
Getting song 12
Successfully Collected Song 12 Info
Getting song 13
Successfully Collected Song 13 Info
Getting song 14
Successfully Collected Song 14 Info
Getting song 15
Successfully Collected Song 15 Info
Getting song 16
Successfully Collected Song 16 Info
Getting song 17
Successfully Collected Song 17 Info
Getting song 18
Successfully Collected Song 18 Info
Getting song 19
Successfully Collected Song 19 Info
Getting song 20
Successfully Collected Song 20 Info
Getting song 21
Successfully Collected Song 21 Info
Getting song 22
Advertisement. Skipping!
Getting song 23
Successfully Collected Song 23 Info
Getting song 24
Successfully Collected Song 24 Info
Getting song 25
Successfully Collected Song 25 Info
Getting song 26
Successfully Collected Song 26 Info
Getting song 27
Successfully Collected Song 27 Info
Getting song 28
Successfully Collected Song 28 Info
Getting song 29
Successfully Collected Song 29 Info
Getting song 30
Successfully Collected Song 30 Info
Getting song 31
Successfully Collected Song 31 Info
Getting song 32
Successfully Collected Song 32 Info
Getting song 33
Advertisement. Skipping!
Getting song 34
Successfully Collected Song 34 Info
Getting song 35
Successfully Collected Song 35 Info
Getting song 36
Successfully Collected Song 36 Info
Getting song 37
Successfully Collected Song 37 Info
Getting song 38
Successfully Collected Song 38 Info
Getting song 39
Successfully Collected Song 39 Info
Getting song 40
Successfully Collected Song 40 Info
Getting song 41
Successfully Collected Song 41 Info
Getting song 42
Successfully Collected Song 42 Info
Getting song 43
Successfully Collected Song 43 Info
Getting song 44
Advertisement. Skipping!
Getting song 45
Successfully Collected Song 45 Info
Getting song 46
Successfully Collected Song 46 Info
Getting song 47
Successfully Collected Song 47 Info
Getting song 48
Successfully Collected Song 48 Info
Getting song 49
Successfully Collected Song 49 Info
Getting song 50
Successfully Collected Song 50 Info
Getting song 51
Successfully Collected Song 51 Info
Getting song 52
Successfully Collected Song 52 Info
Getting song 53
Successfully Collected Song 53 Info
Getting song 54
Successfully Collected Song 54 Info
Getting song 55
Advertisement. Skipping!
Getting song 56
Successfully Collected Song 56 Info
Getting song 57
Successfully Collected Song 57 Info
Getting song 58
Successfully Collected Song 58 Info
Getting song 59
Successfully Collected Song 59 Info
Getting song 60
Successfully Collected Song 60 Info
Getting song 61
Successfully Collected Song 61 Info
Getting song 62
Successfully Collected Song 62 Info
Getting song 63
Successfully Collected Song 63 Info
Getting song 64
Successfully Collected Song 64 Info
Getting song 65
Successfully Collected Song 65 Info
Getting song 66
Advertisement. Skipping!
Getting song 67
Successfully Collected Song 67 Info
Getting song 68
Successfully Collected Song 68 Info
Getting song 69
Successfully Collected Song 69 Info
Getting song 70
Successfully Collected Song 70 Info
Getting song 71
Successfully Collected Song 71 Info
Getting song 72
Successfully Collected Song 72 Info
Getting song 73
Successfully Collected Song 73 Info
Getting song 74
Successfully Collected Song 74 Info
Getting song 75
Successfully Collected Song 75 Info
Getting song 76
Successfully Collected Song 76 Info
Getting song 77
Advertisement. Skipping!
Getting song 78
Successfully Collected Song 78 Info
Getting song 79
Successfully Collected Song 79 Info
Getting song 80
Successfully Collected Song 80 Info
Getting song 81
Successfully Collected Song 81 Info
Getting song 82
Successfully Collected Song 82 Info
Getting song 83
Successfully Collected Song 83 Info
Getting song 84
Successfully Collected Song 84 Info
Getting song 85
Successfully Collected Song 85 Info
Getting song 86
Successfully Collected Song 86 Info
Getting song 87
Successfully Collected Song 87 Info
Getting song 88
Advertisement. Skipping!
Getting song 89
Successfully Collected Song 89 Info
Getting song 90
Successfully Collected Song 90 Info
Getting song 91
Successfully Collected Song 91 Info
Getting song 92
Successfully Collected Song 92 Info
Getting song 93
Successfully Collected Song 93 Info
Getting song 94
Successfully Collected Song 94 Info
Getting song 95
Successfully Collected Song 95 Info
Getting song 96
Successfully Collected Song 96 Info
Getting song 97
Successfully Collected Song 97 Info
Getting song 98
Successfully Collected Song 98 Info
Getting song 99
Advertisement. Skipping!
Getting song 100
Successfully Collected Song 100 Info
Getting song 101
Successfully Collected Song 101 Info
Getting song 102
Successfully Collected Song 102 Info
Getting song 103
Successfully Collected Song 103 Info
Getting song 104
Successfully Collected Song 104 Info
Getting song 105
Successfully Collected Song 105 Info
Getting song 106
Successfully Collected Song 106 Info
Getting song 107
Successfully Collected Song 107 Info
Getting song 108
Successfully Collected Song 108 Info
Getting song 109
Successfully Collected Song 109 Info

In [31]:
rankDf = pd.DataFrame(index=[i for i in range(1, 101)])

rankDf['Song'] = song
rankDf['Artist'] = artist
rankDf['Last Week Rank'] = lastWeekRank
rankDf['Peak Rank'] = peakRank
rankDf['Weeks On Board'] = weeksOnBoard

rankDf

,Song,Artist,Last Week Rank,Peak Rank,Weeks On Board
1,Butter,BTS,1,1,3
2,Good 4 U,Olivia Rodrigo,2,1,4
3,Levitating,Dua Lipa Featuring DaBaby,3,2,36
4,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
5,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
96,Things A Man Oughta Know,Lainey Wilson,93,93,4
97,Country Again,Thomas Rhett,89,73,6
98,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
99,If You Want To,Lil Baby & Lil Durk,-,99,1
100,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

In [32]:
driver.close()

#### 7. Top Data Scientist Recruiters <a name = '7'></a>

In [33]:
driver = webdriver.Chrome('./chromedriver.exe')
driver.get('https://www.naukri.com/')

In [39]:
recuiterPageLink = driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a').get_attribute('href')
driver.get(recuiterPageLink)

In [41]:
driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input').send_keys('Data Scientist')

In [42]:
driver.find_element_by_xpath('//*[@id="qsbFormBtn"]').click()

In [53]:
recruiterTile = driver.find_elements_by_class_name('recInfo')
recruiterTile[].text.split('\n')
#//*[@id="tabP-1"]/div[2]/div[1]

['Gajendra Singh',
 'Head of Recruitment - Product &amp;...',
 'A Leading of Product Start-UP Company',
 'Noida',
 'Skills/Roles I hire for :',
 'Data Scientist, Big Data, Hadoop, Web Analytics, NLP, Machine Learning, J2EE, SAP, Oracle, ERP, .Net, Sharepoint, Architecture, Devops, Mobile APPs',
 '4 active jobs | Last active on 03-Dec-2014']

In [56]:
name = list()
designation = list()
company = list()
skills = list()
location = list()

recruitersElement = driver.find_elements_by_class_name('recInfo')

for i in range(0,50):
    recruiter = recruitersElement[i].text.split('\n')
    name.append(recruiter[0])
    designation.append(recruiter[1])
    company.append(recruiter[2])
    skills.append(recruiter[5])
    location.append(recruiter[3])

In [57]:
hrDf = pd.DataFrame()

hrDf['Name'] = name
hrDf['Designation'] = designation
hrDf['Company Name'] = company
hrDf['Location'] = location
hrDf['Hirng For'] = skills

hrDf

,Name,Designation,Company Name,Location,Hirng For
0,Tanushree,Lead Recruiter,RecRoots,Noida,"UI Developers, Software Engineers, Quality Ass..."
1,sashi bhushan,Senior Specialist,Wipro,Bengaluru / Bangalore,"pig, hbase, sas, spss, apache, python, nosql, ..."
2,Bitapi,HR and Operation Manager,Anvaya,Bengaluru / Bangalore,"Hadoop, Big Data, Data Scientists, Java, Sprin..."
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,Noida,"Data Scientist, Big Data, Hadoop, Web Analytic..."
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,Pune,"Big Data Engineer, Data Scientist, Solutions, ..."
5,Invelopment,Company HR,Invelopment,Ahmedabad,Scandinavian Startups
6,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,Noida,"Technical, Business Development Executive, Sof..."
7,Anoop Somarajan,Assistant Manager Talent Acquisition,Access Healthcare,Chennai,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript..."
8,Helly Vyas,HR Business Partner,AM - TA &amp; HR,Pune,"Big Data technology, PLSQL, Web Developer, Jav..."
9,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,Gurgaon,"SAS, VBA, Business Information Services(BIS), ..."
10,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,Delhi,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip..."
11,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,Bengaluru / Bangalore,"Digital Marketing, General Manager, Business D..."
12,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,Bengaluru / Bangalore,"Webmethods Developer, Mean Stack, Business Ana..."
13,A Valsa Florina,Recruitment Specialist,Redbus.in,Bengaluru / Bangalore,"Business Analyst, Front end developer, legal, ..."
14,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,Chennai,"Data Scientist, Cloud Computing, Mobile Applic..."
15,Prashant K,Sr HR,Confidential,Bengaluru / Bangalore,"Data Analyst, Statistical Analysis, Data Scien..."
16,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,Coimbatore,"business analyst - IT (python), pay per click,..."
17,Rakhi,HR recruiter,Constalytics,Singapore - (singapore),"Data Scientist, Data Research Analyst, Big Dat..."
18,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,Noida,"Lamp Developer, Ui/ux Developer, Qa Engineer, ..."
19,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,Hyderabad / Secunderabad,".Net Developers With Angular Js, Html, Front E..."
20,Sridharan,Company Recruiter Vice President,Aaum Research and Analytics Private Limited,Chennai,"Data Scientist, Developer, Ui, Accounting"
21,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,Noida,"Leading MNCs, Product based organizations"
22,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Bengaluru / Bangalore,Amazon Walmart Adobe OLA Myntracom Komli Media...
23,Monika Singh Thakur,Technical Recruiter,ValueLabs,Indore,"Big Data Analytics, Marketing Analytics, Full ..."
24,Ishu Kumar,Co Founder &amp; Ceo,Data X,Bengaluru / Bangalore,"Python, Machine Learning, Sql, Data Science"
25,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,Gurgaon,"Analytics, Big Data, Hadoop, Python"
26,Janhavi Soni,HR Generalist,Vihaa Technologies LLP,Ahmedabad,"C, C++, Unity3d, Core Php, Android Development..."
27,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
28,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,Ghaziabad,"Deep Learning, Machine Learning, unstructured ..."
30,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,Noida,"Business Analyst, analytics, Decesion Scientis..."
31,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,Chennai,"IT Infrastructure Management, PHP, Wordpress, ..."
32,Best In Town Analytics,Analytics Associate,BITA,Bengaluru / Bangalore,Data Analytics
33,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,Skills/Roles I hire for :,1 active jobs | Last active on 16-Dec-2019
34,priyanka,General Manager,Reliance Industries,Mumbai,"Sap, Saas, Sql, Hadoop, Production Planning, B..."
35,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,Bengaluru / Bangalore,"Core Java, J2ee, Big Data, Machine Learning, D..."
36,Roshan Menugu,Company Recruiter,Cyient Limited,Hyderabad / Secunderabad,Not Specified
37,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Bengaluru / Bangalore,Not Specified
38,Jamil Akhtar,Company Recruiter,Quikkloan,Delhi,Not Specified
39,rajesh,HR Executive,quantum value IT services,Bengaluru / Bangalore,"Data Scientist, Tableau, R Tool, Data Analytic..."
40,navya neluri,Data Scientist,asens labs,Hyderabad / Secunderabad,Not Specified
41,Ram Kumar,Data Scientist,Working As A Freelancer,Pune,Not Specified
42,Arya,Human Resources Manager,Arya.ai,Mumbai,"Artificial Intelligence, Deep Learning, Machin..."
43,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,Bengaluru / Bangalore,"sql, Ui Development, ssis, Data Modeling, Data..."
44,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,Hyderabad / Secunderabad,"devops, build and release, Delivery Manager, O..."
45,Blueberry Digital Labs,HR,Blueberry Digital Labs,Hyderabad / Secunderabad,"Node.js, Html, Css, Nosql, Web Designing, Web ..."
46,Abhilash H Gomez,Delivery Manager,We Search,Trivandrum,"mdm, bigdata, testing, analytics, E-commerce (..."
47,Ms Uma,Company HR,RenovITe Payment Solutions Pvt ltd,Noida,"java, J2ee, activemq, rest, cassandra, redis, ..."
48,Manoj Kumar Ganesh,Senior HR Associate,Cads Software India,Chennai,"Java, J2EE, Oracle E-business Suite, MS CRM, P..."
49,Kranthi Kumar M,Lead HR Talent Acquisition,PrimEra Medical Technologies Private...,Hyderabad / Secunderabad,"Medical Coders, mbbs, bi, appeals, master data..."

In [59]:
driver.close()

#### 8. Highest Selling Novel <a name = '8'></a>

In [61]:
driver = webdriver.Chrome('./chromedriver.exe')
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [65]:
novelTable = driver.find_element_by_xpath('//*[@id="article-body-blocks"]/div/table').get_attribute('outerHTML')

In [71]:
novel = pd.read_html(novelTable)[0]
novel = novel[0:len(novel.Rank)-1].copy()
novel

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert",807311,Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General

In [72]:
driver.close()

#### 9. Most watched TV series <a name = '9'></a>

In [73]:
driver = webdriver.Chrome('./chromedriver.exe')
driver.get('https://www.imdb.com/list/ls095964455/')

In [78]:
seriesElement = driver.find_elements_by_class_name('lister-item-content')
seriesElement[0].text.split('\n')

['1. Game of Thrones (2011–2019)',
 'TV-MA | 57 min | Action, Adventure, Drama',
 '9.3',
 'Rate',
 'Nine noble families fight for control over the lands of Westeros, while an ancient enemy returns after being dormant for millennia.',
 'Stars: Emilia Clarke, Peter Dinklage, Kit Harington, Lena Headey',
 'Votes: 1,825,175',
 'Watch on Hotstar',
 'Go to hotstar.com']

In [101]:
name = list()
yearSpan = list()
genre = list()
runTime = list()
ratings = list()
votes = list()

for i in range(0, len(seriesElement)):
    series = seriesElement[i].text.split('\n')
    if i == 1:
        yearSpan.append(series[0].split()[-2:-1])
    else:
        yearSpan.append(series[0].split()[-1])
    name1 = series[0].split()
    name.append(' '.join(name1[1:len(name1)-1]))
    genre.append(series[1].split(' | ')[2])
    runTime.append(series[1].split(' | ')[1])
    ratings.append(series[2])
    votes.append(series[6].split()[1])

In [102]:
seriesDf = pd.DataFrame()

seriesDf['Name'] = name
seriesDf['Genre'] = genre
seriesDf['Ratings'] = ratings
seriesDf['Runtime'] = runTime
seriesDf['Year Span'] = yearSpan
seriesDf['Votes'] = votes

seriesDf

,Name,Genre,Ratings,Runtime,Year Span,Votes
0,Game of Thrones,"Action, Adventure, Drama",9.3,57 min,(2011–2019),"1,825,175"
1,Stranger Things (2016–,"Drama, Fantasy, Horror",8.7,51 min,[(2016–],"865,221"
2,The Walking Dead,"Drama, Horror, Thriller",8.2,44 min,(2010–2022),"875,165"
3,13 Reasons Why,"Drama, Mystery, Thriller",7.6,60 min,(2017–2020),"262,929"
4,The 100,"Drama, Mystery, Sci-Fi",7.6,43 min,(2014–2020),"224,329"
...,...,...,...,...,...,...
95,Reign,"Drama, Fantasy",7.5,42 min,(2013–2017),"44,602"
96,A Series of Unfortunate Events,"Adventure, Comedy, Drama",7.8,50 min,(2017–2019),"55,114"
97,Criminal Minds,"Crime, Drama, Mystery",8,42 min,(2005–2020),"168,043"
98,Scream: The TV Series,"Comedy, Crime, Drama",7.1,45 min,(2015–2019),"34,923"
99,The Haunting of Hill House,"Drama, Horror, Mystery",8.6,572 min,(2018),"191,758"

In [103]:
driver.close()

#### 10. Dataset Details in UCI ML Repository <a name = '10'></a>

In [104]:
driver = webdriver.Chrome('./chromedriver.exe')
driver.get('https://archive.ics.uci.edu/')

In [105]:
allDataLink = driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a').get_attribute('href')
driver.get(allDataLink)

In [107]:
datasetTable = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]').get_attribute('outerHTML')

In [118]:
datasetDf = pd.read_html(datasetTable, header=0)[0]
datasetDf = datasetDf[::2].copy()
datasetDf.reset_index(inplace = True)
datasetDf

,index,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
0,0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177.0,8.0,1995.0
1,2,Adult,Multivariate,Classification,"Categorical, Integer",48842.0,14.0,1996.0
2,4,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798.0,38.0,NaN
3,6,Anonymous Microsoft Web Data,NaN,Recommender-Systems,Categorical,37711.0,294.0,1998.0
4,8,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452.0,279.0,1998.0
...,...,...,...,...,...,...,...,...
583,1166,in-vehicle coupon recommendation,Multivariate,Classification,NaN,12684.0,23.0,2020.0
584,1168,Gait Classification,Multivariate,Classification,Real,48.0,321.0,2020.0
585,1170,Wikipedia Math Essentials,Time-Series,Regression,Real,731.0,1068.0,2021.0
586,1172,Wikipedia Math Essentials,Time-Series,Regression,Real,731.0,1068.0,2021.0
587,1174,Synchronous Machine Data Set,Multivariate,Regression,Real,557.0,5.0,2021.0

In [119]:
driver.close()